#content {
  margin: 0 100px;
}

#app-wrap {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  flex: 1 0 auto;
}

/* Tablet */
@media screen and (max-width: 768px) {
  #content {
    margin: 0 30px;
  }
}

/* Mobile */
@media screen and (max-width: 500px) {
  #content {
    margin: 0 20px;
  }
}

/* Tiny */
@media screen and (max-width: 300px) {
  #content {
    margin: 0 10px;
  }
}
