.carousel-wrapper {
  width: 100%;
  height: 415px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.carousel-next,
.carousel-previous {
  width: 46.68px;
  height: 79.2px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
  transition-duration: 300ms;
}

.carousel-next:hover,
.carousel-previous:hover {
  opacity: 0.75;
}

.carousel-previous {
  background-image: url("../assets/images/arrow-left.png");
  margin-left: 23.36px;
}

.carousel-next {
  background-image: url("../assets/images/arrow-right.png");
  margin-right: 23.36px;
}

.carousel-counter {
  display: block;
  position: absolute;
  margin-top: 357.57px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;

  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  width: 1px;
}

/* Tablet */
@media screen and (max-width: 768px) {
  .carousel-wrapper {
    height: 350px;
    border-radius: 15px;
    margin-top: 27px;
  }

  .carousel-next,
  .carousel-previous {
    width: 25px;
    height: 40px;
  }

  .carousel-previous {
    margin-left: 10px;
  }

  .carousel-next {
    margin-right: 10px;
  }

  .carousel-counter {
    margin-top: 287.57px;
  }
}

/* Mobile */
@media screen and (max-width: 500px) {
  .carousel-wrapper {
    height: 255px;
    border-radius: 10px;
  }

  .carousel-next,
  .carousel-previous {
    width: 11.67px;
    height: 19.8px;
  }

  .carousel-previous {
    margin-left: 5.84px;
  }

  .carousel-next {
    margin-right: 5.84px;
  }

  .carousel-counter {
    display: none;
  }
}
