footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: var(--footer-height);
  background-color: #000;
  flex-shrink: 0;
  align-items: center;
  position: relative;
}

.footer-logo {
  width: 122px;
  height: 39.44px;
  margin-top: 66px;
}

.copyright-text {
  color: #fff;
  margin-top: auto;
  margin-bottom: 29px;
  font-size: 24px;
  white-space: nowrap;
}

/* Tablet */
@media screen and (max-width: 768px) {
  .copyright-text {
    margin-bottom: 62px;
    font-size: 18px;
  }

  .footer-logo {
    margin-top: 62px;
  }
}

/* Mobile */
@media screen and (max-width: 500px) {
  .copyright-text {
    margin-bottom: 62px;
    font-size: 12px;
  }
}

/* Tiny */
@media screen and (max-width: 300px) {
  .footer-logo {
    width: 40%;
    height: auto;
  }

  .copyright-text {
    white-space: normal;
    text-align: center;
  }
}
