header {
  display: flex;
  align-items: center;
  margin: 0 100px;
  margin-top: 40px;
}

.header-logo {
  width: 210.32px;
  height: 68px;
}

.links-container {
  display: flex;
  margin-left: auto;
}

.link-item {
  color: var(--main-color);
  text-decoration: none;
  font-size: 24px;
  white-space: nowrap;
  margin-left: 57px;
}

.active-link {
  text-decoration: underline;
}

/* Tablet */
@media screen and (max-width: 768px) {
  header {
    margin: 0 30px;
    margin-top: 30px;
  }

  .header-logo {
    width: 145px;
    height: 47px;
  }

  .link-item {
    font-size: 18px;
    margin-left: 28px;
  }
}

/* Mobile */
@media screen and (max-width: 500px) {
  header {
    margin: 0 20px;
    margin-top: 20px;
  }

  .link-item {
    font-size: 12px;
    margin-left: 10px;
    text-transform: uppercase;
  }
}

/* Tiny */
@media screen and (max-width: 300px) {
  header {
    margin: 0 10px;
    margin-top: 10px;
  }

  .header-logo {
    width: 50%;
    height: auto;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  .link-item {
    margin-left: unset;
  }
}
