.home-illustration {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  background-image: url("../assets/images/background_home.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 44px;
  margin-bottom: 31px;
}

.home-illustration-mask {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  border-radius: 25px;
}

.home-illustration-text {
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 78px;

  font-weight: 500;
  font-size: 48px;
  line-height: 68.45px;

  color: #fff;
  opacity: 1;
  z-index: 100;
}

#housing-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  background-color: #f6f6f6;
  border-radius: 25px;

  width: 100%;
  padding-top: 31px;
  margin-bottom: 42px;
}

/* Laptop */
@media screen and (max-width: 1024px) {
  .home-illustration-text {
    font-size: 38px;
    line-height: 58.45px;
  }

  #housing-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .home-illustration {
    width: 100%;
    height: 111px;
    border-radius: 10px;
    background-position: right bottom;
    margin-top: 16px;
  }

  .home-illustration-mask {
    border-radius: 10px;
  }

  .home-illustration-text {
    text-align: center;
    margin-left: unset;
    margin-right: unset;
    left: unset;
    right: unset;
    margin-top: 42px;
    margin-left: 16px;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
  }

  #housing-list-container {
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
    background-color: unset;
    padding-top: unset;
    column-gap: 20px;
  }
}

/* Mobile */
@media screen and (max-width: 500px) {
  .home-illustration {
    margin-bottom: 12px;
  }

  .home-illustration-text {
    width: 217px;
    margin-top: 31px;
  }

  #housing-list-container {
    grid-template-columns: 1fr;
    background-color: unset;
    padding-top: unset;
  }
}

/* Tiny */
@media screen and (max-width: 300px) {
  .home-illustration-text {
    width: calc(100% - 50px);
    margin-top: 10px;
    font-size: 10vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    line-height: 11vw;
  }
}
