.housing-head-block {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.housing-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 51.34px;
  color: var(--main-color);
  padding-right: 3px;
}

.housing-location {
  font-weight: 500;
  font-size: 18px;
  line-height: 25.67px;
  color: var(--main-color);
}

.housing-middle-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.housing-tag-list-container {
  display: flex;
  flex-wrap: wrap;
}

.housing-informations-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  margin-top: 24px;
  margin-bottom: 12px;
}

/* Tablet */
@media screen and (max-width: 768px) {
}

/* Mobile */
@media screen and (max-width: 500px) {
  .housing-title {
    font-size: 18px;
    line-height: 25.67px;
  }
}
