.rating-container {
  overflow: hidden;
  white-space: nowrap;
}

.rating-star {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

/* Mobile */
@media screen and (max-width: 500px) {
  .rating-star {
    width: 15px;
    height: 15px;
    margin-left: 5px;
  }
}
