html,
body,
#root {
  height: 100%;
  width: 100%;
}

body,
#root {
  display: flex;
  flex-direction: column;

  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

p,
h3,
h4,
ul {
  margin-block-start: unset;
  margin-block-end: unset;
}

ul {
  padding-inline-start: unset;
}
