.thumbnail-housing-element {
  height: 340px;
  background-color: var(--main-color);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  text-decoration: none;
  transition-duration: 400ms;
}

.thumbnail-housing-element:hover {
  opacity: 0.8;
}

.thumbnail-housing-mask {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ffffff00, #00000080);
  border-radius: 10px;
}

.thumbnail-housing-title {
  margin-left: 20px;
  margin-right: 20px;
  align-self: flex-end;
  margin-bottom: 20px;

  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

/* Tablet */
@media screen and (max-width: 768px) {
  .thumbnail-housing-element {
    margin-left: unset;
    margin-right: unset;
    margin-top: unset;
    margin-bottom: 20px;
  }
}

/* Mobile */
@media screen and (max-width: 500px) {
  .thumbnail-housing-element {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 255px;
  }
}
